<wm-partial data-ng-controller="tripDetailsPageController" name="partial1">
    <wm-container name="tripDetails" horizontalalign="center" show="true" padding="unset unset 15px unset" backgroundimage="resources/images/imagelists/rsz_darkbluemap.png" backgroundrepeat="no-repeat" backgroundattachment="local">
        <wm-label name="label1" class="h3" caption="bind:Variables.flightDetails.dataSet[$i].TRIP_NAME" color="#fff"></wm-label>
        <wm-label class="h5" name="label2" margin="0px unset unset unset" caption="TRIP STARTS IN" color="#fff"></wm-label>
        <wm-layoutgrid name="layoutgrid2">
            <wm-gridrow name="gridrow5">
                <wm-gridcolumn columnwidth="5" name="gridcolumn7"></wm-gridcolumn>
                <wm-gridcolumn columnwidth="2" name="gridcolumn8" horizontalalign="center">
                    <wm-container name="container3" backgroundcolor="#ffffff" horizontalalign="center">
                        <wm-label name="label3" caption="bind:Variables.approvedTrip.dataSet.timeDiff.diffValue" class="h2" margin="0px unset" color="#737474" fontweight="bold"></wm-label>
                    </wm-container>
                    <wm-label name="label4" caption="bind:Variables.approvedTrip.dataSet.timeDiff.diffUnit" class="h5" color="#fff"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="5" name="gridcolumn9"></wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow6">
                <wm-gridcolumn columnwidth="2" name="gridcolumn13"></wm-gridcolumn>
                <wm-gridcolumn columnwidth="4" name="gridcolumn10">
                    <wm-anchor name="anchor1" iconclass="wi wi-flight-takeoff fa-2x" caption="Flight Details" iconposition="top" color="#fff" class="noh" on-tap="Variables.goToPage_FlightDetails.invoke()"></wm-anchor>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="4" name="gridcolumn12">
                    <wm-anchor iconclass="wi wi-share fa-2x" caption="Share" name="anchor3" iconposition="top" color="#fff" class="noh"></wm-anchor>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
        <wm-container name="container3_1" margin="1em 1em 0em 1em" backgroundcolor="#ffffff" padding="0.4em 0.4em 0em 0.4em">
            <wm-layoutgrid columns="2" name="layoutgrid5">
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn colwidth="6" columnwidth="2" horizontalalign="center" name="gridcolumn20">
                        <wm-icon iconclass="wi wi-flight-takeoff" iconsize="15pt" class="text-muted" name="icon7"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn colwidth="6" padding="unset unset unset 1.25em" name="gridcolumn21" horizontalalign="left">
                        <wm-label caption="bind:Variables.flightDetails.dataSet[$i].fromAirport" fontunit="em" class="text-muted p" name="label15"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn colwidth="6" columnwidth="2" horizontalalign="center" name="gridcolumn22">
                        <wm-icon iconclass="wi wi-flight-land" iconsize="15pt" class="text-muted" name="icon8"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn colwidth="6" padding="unset unset unset 1.25em" name="gridcolumn23" horizontalalign="left">
                        <wm-label caption="bind:Variables.flightDetails.dataSet[$i].toAirport" fontunit="em" class="text-muted p" name="label16"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn colwidth="6" columnwidth="2" horizontalalign="center" name="gridcolumn24">
                        <wm-icon iconclass="wi wi-calendar" iconsize="15pt" class="text-muted" name="icon9"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn colwidth="6" padding="unset unset unset 1.25em" name="gridcolumn25" horizontalalign="left">
                        <wm-label caption="bind:(Variables.flightDetails.dataSet[$i].DEPT_DATE| toDate: 'dd MMM, yyyy') +' - ' +(Variables.flightDetails.dataSet[$i].RETURN_DATE | toDate: 'dd MMM, yyyy')" fontunit="em" class="text-muted" name="label17"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-container>
    </wm-container>
    <wm-label class="h4" caption="Near by Places" name="NearBy" horizontalalign="left" show="false"></wm-label>
    <wm-carousel type="dynamic" name="carouselPlaces" dataset="bind:Variables.GetNearByPlacesInvoke.dataSet.results" animationinterval="4" show="false">
        <wm-carousel-template horizontalalign="center" name="carousel_template1">
            <wm-picture width="100%" name="picture2" picturesource="bind:Variables.GetNearByPlacesInvoke.dataSet.results[$i].photos.length  >= 1 ?('https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&amp;maxheight=150&amp;photoreference='+Variables.GetNearByPlacesInvoke.dataSet.results[$i].photos[0].photo_reference+'&amp;key=AIzaSyAf0YwX8BJkim3ox_JTQ9aHJwBKSHGhUn0'):('resources/images/imagelists/default-image.png')"
            pictureaspect="Both" height="180px"></wm-picture>
            <wm-label name="label9" class="h4" caption="bind:Variables.GetNearByPlacesInvoke.dataSet.results[$i].name"></wm-label>
        </wm-carousel-template>
    </wm-carousel>
    <wm-container name="containerNoPlaces" horizontalalign="center" margin="5px unset" show="false">
        <wm-label padding="unset 0.5em" name="label10" fontsize="25" caption="No Near By Places Found"></wm-label>
    </wm-container>
</wm-partial>