<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="12" name="gridcolumn4" horizontalalign="center" padding="20% unset unset unset">
                <wm-picture name="picture1" shape="circle" pictureaspect="None" width="128" height="128" margin="unset unset 1% unset" picturesource="bind:Variables.empObj.dataSet.picUrl" on-tap="Variables.goToPage_Main.invoke()"></wm-picture>
                <wm-label name="label1" width="100%" caption="bind:Variables.loggedInUser.dataSet.name" color="#ffffff"></wm-label>
                <wm-label width="100%" caption="bind:&quot;EMP ID : &quot;+Variables.loggedInUser.dataSet.id" name="label2" color="#ffffff"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow3">
            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                <wm-nav type="pills" layout="stacked" name="nav1">
                    <wm-nav-item name="nav_item1">
                        <wm-anchor caption="Create Request" name="anchor1" on-tap="Variables.goToPage_NewTravel.invoke()" color="#fff" iconurl="resources/images/imagelists/createReq.png" iconwidth="25" iconheight="25" iconmargin="10"></wm-anchor>
                    </wm-nav-item>
                    <wm-nav-item name="nav_item2">
                        <wm-anchor caption="My Requests" name="anchor2" on-tap="Variables.goToPage_MyRequests.invoke()" color="#fff" iconurl="resources/images/imagelists/ic_launcher.png" iconwidth="25" iconheight="25" iconmargin="10"></wm-anchor>
                    </wm-nav-item>
                </wm-nav>
                <wm-nav type="pills" layout="stacked" name="nav2">
                    <wm-nav-item name="nav_item5">
                        <wm-anchor caption="Helpdesk" name="anchor5" iconclass="" on-tap="Variables.goToPage_HelpDesk.invoke()" color="#fff" iconwidth="25" iconurl="resources/images/imagelists/helpdesk.png"></wm-anchor>
                    </wm-nav-item>
                    <wm-nav-item name="nav_item6">
                        <wm-anchor caption="Logout" name="anchor6" iconclass="" on-tap="Variables.logoutVariable.invoke()" color="#fff" iconwidth="25" iconheight="25" iconurl="resources/images/imagelists/logout.png"></wm-anchor>
                    </wm-nav-item>
                </wm-nav>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>