<wm-page data-ng-controller="HelpDeskPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" title="Helpdesk" backbutton="false"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" datafield="All Fields" dataset="bind:Variables.hrData.dataSet.content" navigation="None" name="livelist3_1"> 
                <wm-listtemplate layout="inline" name="listtemplate3_1"> 
                    <wm-container class="media-left" name="container5_1"> 
                        <wm-picture width="32pt" height="32pt" name="Picture" shape="circle" picturesource="bind:Variables.hrData.dataSet.content.picurl" class="media-object"></wm-picture> 
                    </wm-container> 
                    <wm-container class="media-body" name="container6"> 
                        <wm-label class="h4" name="Name" caption="bind:Variables.hrData.dataSet.content[$i].firstname +' '+Variables.hrData.dataSet.content[$i].lastname" fontunit="em" margin="0px unset 1px unset"></wm-label> 
                        <wm-label width="100%" caption="bind:Variables.hrData.dataSet.content[$i].jobtitle" class="list-group-item-text text-muted" name="label4" whitespace="nowrap"></wm-label> 
                    </wm-container> 
                    <wm-container class="media-body" name="container7" horizontalalign="right"> 
                        <wm-anchor name="anchor1" caption="" hyperlink="tel:+12312121" iconclass="wi wi-phone fa-3x" margin="unset unset unset 1px" color="green"></wm-anchor> 
                        <wm-anchor caption="" hyperlink="mailto:helpdesk@example.com" iconclass="wi wi-email fa-3x" name="anchor2" horizontalalign="left" margin="unset unset unset 1em" color="orange"></wm-anchor> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-livelist> 
        </wm-page-content> 
    </wm-content> 
</wm-page>