<wm-page data-ng-controller="FlightDetailsPageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" title="Flight Details"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn2" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label16" caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].fromAirport" class="h4"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn17" horizontalalign="center">
                        <wm-icon name="icon1" iconclass="wi wi-flight-land"></wm-icon>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn4" horizontalalign="center">
                        <wm-label name="label1" width="100%" caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].toAirport" class="h4"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                        <wm-label padding="unset 0.5em" name="label10" caption="Departure Date"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                        <wm-label name="label2" caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].DEPT_DATE | toDate: ' dd MMMM,yyyy'" width="100%"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                        <wm-label padding="unset 0.5em" name="label11" caption="Class"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                        <wm-label caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].CLASS" width="100%" name="label4"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                        <wm-label padding="unset 0.5em" name="label12" caption="Stay Prefered"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                        <wm-label caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].STAY" width="100%" name="label5"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                        <wm-label padding="unset 0.5em" name="label13" caption="Trip Type"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn12">
                        <wm-label caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].TRAVEL_TYPE" width="100%" name="label6"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                        <wm-label padding="unset 0.5em" name="label14" caption="Request Created On"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                        <wm-label caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].CREATED_DATE | toDate: ' dd MMMM,yyyy'" width="100%" name="label8"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn15">
                        <wm-label padding="unset 0.5em" name="label15" caption="Status"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn16">
                        <wm-label caption="bind:Variables.SelectedFlight.dataSet.dataValue.content[0].STATUS" width="100%" name="label7"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>