<wm-partial data-ng-controller="InterNationalAirportsPageController" name="partial1">
    <wm-mobile-navbar name="mobile_navbar1" searchbutton="true" defaultview="searchview" backbutton="false" show="true" searchkey="airportName" on-backbtnclick="mobile_navbar1Backbtnclick($event, $scope)" datafield="airportName" searchplaceholder="Search by Name"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1"></wm-page-content>
    </wm-content>
    <wm-livelist listclass="list-group" itemclass="list-group-item media" template="true" navigation="None" name="IntlAirportsList" on-tap="IntlAirportsListTap($event, $scope)" datafield="All Fields" dataset="bind:Variables.getIntlAirports.dataSet" selectionlimit="1"
    nodatamessage="No Airports Found">
        <wm-listtemplate layout="media" name="listtemplate3_1">
            <wm-container class="media-body" data-template-ctr="true" name="container4_1">
                <wm-label width="100%" caption="bind:Variables.getIntlAirports.dataSet[$i].city+' ,'+Variables.getIntlAirports.dataSet[$i].country" name="Name" class="media-heading h4"></wm-label>
                <wm-label width="100%" caption="bind:Variables.getIntlAirports.dataSet[$i].airportCode+' - '+Variables.getIntlAirports.dataSet[$i].airportName" class="text-muted" name="Title"></wm-label>
            </wm-container>
        </wm-listtemplate>
    </wm-livelist>
</wm-partial>