<wm-page data-ng-controller="MainPageController" name="mainpage"> 
    <wm-left-panel content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" title="Travel Assist" leftnavpaneliconclass="wi wi-menu" backbutton="false"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" padding="1em unset unset unset"> 
            <wm-container name="noTripsContainer" content="noTripsPagePartial" show="false"></wm-container> 
            <wm-button class="btn custom-btn btn-rounded" caption="" type="button" name="addTripFloatingButton" backgroundcolor="#37C6F4" on-tap="Variables.goToPage_NewTravel.invoke()" iconclass="wi wi-plus fa-4x" show="false" padding="0px" color="#ffffff"></wm-button> 
            <wm-container name="tripDetails" horizontalalign="center" show="false" content="tripDetails" margin="0em 1em unset 1em"></wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>